*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-1: hsl(202, 86%, 94%);
    --bg-color-2: hsl(200, 24%, 40%);
    --bg-color-3: hsl(202, 55%, 16%);

    --font-primary: "Plus Jakarta Sans", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-primary);
}

.card {
    display: flex;
}

header {
    display: flex;
}

main {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-section-2 {
    display: none;
}
